@use '../variables';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variables.$textColor;
    background-color: variables.$buttonBackgroundColor;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variables.$buttonBackgroundColor;

    &:hover {
        background-color: lighten(variables.$buttonBackgroundColor, 10%);
    }

    &--dark {
        background-color: rgba(variables.$darkButtonBackgroundColor, 0.8);
        border-color: variables.$secondaryBackgroundColor;

        &:hover {
            background-color: variables.$secondaryBackgroundColor;
            color: variables.$backgroundColor;
        }
    }
}